@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alkalami&family=Archivo+Black&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Ethiopic:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Serif:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Questrial&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Dirt&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.menu-icon {
  display: none;
  font-size: 2rem;
}

@media screen and (max-width: 700px) {
  .menu-icon {
    display: block;
  }
}
